.shopping-cart-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  .item{
    .item-info{
      display: grid;
      grid-template-columns: 1fr 1fr;

      .product-img {
        width: 140px;
      }
    }
    .item-attributes{
      .attribute-items-list{
        .attribute-item {

          &.selected{
            color: #ffc107;
          }
        }
      }
    }
  }
}
